body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: antiquewhite; */
}
h1{
    font-size: 30px;
}
.orange-color{
    font-size: 270%;
    color: rgb(225, 153, 19);

}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
    padding: auto;
    margin: auto;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 17px;
    border-radius: 7px;
    font-weight: 600;
    color: rgb(81, 48, 115);
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}