body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.orange-color{
    font-size: 270%;
    color: rgb(225, 153, 19);

}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    padding: auto;
    margin: auto;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 7px 10px 7px 10px;
    border-radius: 7px;
}